@{
    ViewData["Title"] = "Success";
}

<div class="text-center">
    
   <img src="https://ms-researchhub.com/____impro/1/onewebmedia/payment_successful.gif?etag=W%2F%2230e24-5cfa202d%22&sourceContentType=image%2Fgif&ignoreAspectRatio&resize=235%2B200&extract=0%2B16%2B224%2B184" />
</div>
